
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <h1>Settings Page</h1>
    <p>To stop notifications, clear the field.</p>

    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{form.permit_number.label}}
        {{form.permit_number(placeholder="examples: 2015000000, C2015000000", class_="form-control")}}
      </div>
      <div class="form-group">
        {{form.email.label}}
        {{form.email(placeholder="Email", class_="form-control")}}
      </div>
      <div class="form-group">
        {{form.phone_number.label}}
        {{form.phone_number(placeholder="example: 305-555-5555", class_="form-control")}}
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endblock %}
