{% extends "./email/base.html" %}

{% block header %}
We'd love your feedback on your recent inspection!
{% endblock %}

{% block content %}
<p>Hello!</p>

<p>We noticed that you've had a recent [TYPE] inspection for Permit [PERMIT NUMBER] at [ADDRESS]. In order to better serve you, we would love to hear about your experiences by taking a six-question survey.</p>

<p>To access the survey, click the following link: [LINK]</p>

<p>Thank you,</p>

<p>Miami-Dade County RER &amp; Communications Departments</p>

{% endblock %}

{% block footer %}
<p>You are receiving this e-mail because your e-mail address was entered in our notification systems. | <a href="#">Unsubscribe</a> | <a href="mailto:miami-dade@codeforamerica.org?Subject=Feedback%20from%20Email">Questions? Email us</a>
{% endblock %}
